:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--white);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);

  font-size: 16px;
  font-weight: regular;
  line-height: 1, 5;
  font-style: normal;
  color: rgba(17, 2, 2, 0.934);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.header-section {
  height: 72px;
}

.site-head {
  display: flex;
  align-items: center;
}

.logo {
  font-style: var(--second-family);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 24px;
  margin-left: 156px;
  margin-bottom: 24px;
}

.web {
  font-family: var(--second-family);
  color: var(--iris);
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 3%;
}

.studio-head {
  color: var(--navy-blue);
  font-size: 18px;
  font-weight: 700px;
  line-height: 21px;
  font-weight: bold;
  font-family: var(--Raleway);
  text-decoration: none;
}

.menu {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 76px;
  margin-bottom: 24px;
}

.menu>li>a {
  font-family: var(--second-family);
  color: var(--navy-blue);
  font-weight: 500px;
  line-height: 24px;
  font-weight: bold;
}

.menu :hover {
  font-family: var(--second-family);
  color: var(--ocean);
  font-weight: bold;
}

.address {
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-left: 332px;
  margin-bottom: 24px;
}

.address>a {
  font-family: var(--font-family);
  font-style: normal;
  color: var(--slate);
  font-weight: 400px;
  line-height: 24px;
}

.address :hover {
  font-family: var(--font-family);
  color: var(--ocean);
  font-weight: 400px;
  line-height: 24px;
}

.hero {
  position: relative;
  height: 600px;
  background-color: var(--grey);
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-blend-mode: darken;
}

.effective {
  margin-top: 188px;
  margin-left: 472px;
  position: absolute;
  font-size: 56px;
  font-style: var(--font-family);
  font-weight: 700px;
  color: var(--white);
}

.effective-button {
  width: 169px;
  height: 56px;
  color: white;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  border-radius: 4%;
  margin-top: 359px;
  margin-left: 612px;
  background-color: var(--iris);
}

.effective-button:hover {
  background-color: var(--ocean);
}

.goals {
  width: 1128px;
  height: 224px;
  margin-top: 116px;
  margin-left: 156px;
}

.goals-list {
  display: flex;
  gap: 24px;
}

.goals-list>li {
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid #8e8f99;
}

.goals-list>li>img {
  margin: 24px 100px;
}

.goals-list>li>h3 {
  color: var(--navy-blue);
  font-weight: 500px;
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-family);
  margin-bottom: 8px;
}

.goals-list>li>p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--slate);
  font-family: var(--font-family);
}

.team-section {
  height: 780px;
  background-color: var(--cloud);
  margin-top: 120px;
}

.team-images {
  margin: 72px;
  margin-left: 156px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.team {
  padding-top: 120px;
  text-align: center;
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
}

.team-card {
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-images-info {
  width: 232px;
  height: 104px;
  margin-top: 32px;
  margin-left: 16px;
}

.team-images-info>h5 {
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500px;
  text-align: center;
}

.icon-nav {
  margin-top: 8px;
  display: flex;
  gap: 24px;
}

.team-images-info>p {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400px;
}

.portfolio-menu {
  width: 1128px;
  height: 1000px;
  margin: 120px 156px;
}

.portfolio {
  display: flex;
  gap: 24px;
}

.portfolio>li {
  width: 360px;
  height: 420px;
}

.our-portfolio {
  color: var(--navy-blue);
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 700px;
  text-align: center;
  margin-bottom: 72px;
}

.cashless-frame {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
  background-color: var(--iris);
}

.cashless-img {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.cashless-frame:hover .cashless-img {
  transform: translateY(0%);
}

.cashless-text {
  width: 296px;
  height: 96px;
  padding: 40px 32px;
  color: var(--cloud);
  font-family: var(--font-family);
  font-weight: 400px;
}

.portfolio>li>h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500px;
  margin: 32px 16px 8px;
}

.portfolio>li>p {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500px;
  margin-left: 16px;
}

.portfolio-bottom {
  padding-top: 40px;
}

.foot-section {
  display: flex;
  height: 312px;
  justify-content: flex-start;
  background-color: var(--navy-blue);
}

.logo-level {
  margin-top: 101px;
  margin-left: 156px;
}

.logo-foot {
  color: var(--cloud);
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
}

.foot-text {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: var(--cloud);
  font-weight: 400px;

  margin-top: 16px;
}

.foot-group {
  display: flex;
}

.media {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  margin-left: 120px;
  margin-top: 100px;
}

.icon-nav>li>.icon-foot {
  width: 16px;
  height: 16px;
  margin: 11px 11px;
}

.icon-nav {
  display: flex;
}

.icon-nav>li {
  border: 2px solid red;
  list-style-type: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--iris);
  justify-content: center;
  align-content: center;
}