:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 50px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;

  font-size: 16px;
  font-weight: regular;
  line-height: 1, 5;
  font-style: normal;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: auto;
}

.header {
  display: flex;
  width: 1440px;
  height: 72px;
  background-color: var(--white);
}


.icon-back {
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--iris);

}

.insta {
  position: absolute;


  fill: var(--white);
  background: var(--iris);
}

.menu {
  font-family: var(--second-family);
  font-size: 18px;
}

.logo {
  margin-top: 24px;
  margin-left: 156px;
}

.logo-web {
  color: var(--iris);
  font-weight: bold;
}

.logo-studio {
  color: var(--navy-blue);
  font-weight: bold;
}

.credential-list {
  display: flex;
  gap: 40px;
  margin-top: 24px;
  margin-left: 76px;
  color: var(--navy-blue);
  font-weight: bold;
}

.credential-list {
  color: var(--navy-blue);
}
.credential-studio{
  color: var(--ocean);
}
.credential-studio :hover {
  color: red;
}

.credential-portfolio {
  color: var(--navy-blue);
}

.credential-portfolio :hover {
  color: var(--ocean);
}

.credential-contacts {
  color: var(--navy-blue);
}

.credential-contacts :hover {
  color: var(--iris);
}

.address {
  display: flex;
  margin-top: 24px;
  margin-left: 332px;
  font-style: var(--font-family);
  gap: 40px;
}
.address> a{
  
  font-weight: 400px;
  color: var(--slate);
}
.address :hover {
  color: var(--ocean);
}

.hero {
  width: 1440px;
  height: 600px;
  background-color: var(--grey);
  background-image: url(../images/hero-background.jpg);
  background-size: cover;
  background-blend-mode: darken;

}

.hero>image {
  position: relative;
  background-blend-mode: darken;
}

.effective {
  margin-top: 188px;
  margin-left: 472px;
  position: absolute;
  font-size: 56px;
  font-style: var(--font-family);
  font-weight: 700px;
  color: var(--white);
}

.effective-button {
  width: 169px;
  height: 56px;
  border-radius: 4%;
  margin-top: 359px;
  margin-left: 612px;
  background-color: var(--iris);
}

.goals {
  width: 1128px;
  height: 224px;
  margin-top: 116px;
  margin-left: 156px;

}

.goals-list {
  display: flex;
  gap: 24px;

}

.goals-list>li {

  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid #8E8F99;
}

.goals-list>li>img {
  margin: 24px 100px;

}

.goals-list>li>h3 {
  color: var(--navy-blue);
  font-weight: 500px;
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-family);
  margin-bottom: 8px;
}

.goals-list>li>p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--slate);
  font-family: var(--font-family);
}

.our-team {
  margin-top: 120px;
  width: 1440px;
  height: 780px;
  background-color: var(--cloud);

}

.team-images {
  margin: 72px;
  margin-left: 156px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.team {
  padding-top: 120px;
  text-align: center;
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
}

.team-card {
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-images-info {
  width: 232px;
  height: 104px;
  margin-top: 32px;
  margin-left: 16px;
}

.team-images-info>h5 {
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500px;
  text-align: center;

}

.icon-nav {
  margin-top: 8px;
  display: flex;
  gap: 24px;
}


.team-images-info>p {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400px;
}

.portfolio-menu {

  width: 1128px;
  height: 1000px;
  margin: 120px 156px;

}

.portfolio {
  display: flex;
  gap: 24px;
}

.portfolio>li {
  width: 360px;
  height: 420px;
}

.our-portfolio {
  color: var(--navy-blue);
  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 700px;
  text-align: center;
  margin-bottom: 72px;
}

.cashless-frame {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
  background-color: var(--iris);
}

.cashless-img {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 300ms linear;

}

.cashless-frame:hover .cashless-img {
  transform: translateY(0%);

}

.cashless-text {
  width: 296px;
  height: 96px;
  padding: 40px 32px;
  color: var(--cloud);
  font-family: var(--font-family);
  font-weight: 400px;
}

.portfolio>li>h3 {
  color: var(--navy-blue);
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500px;
  margin: 32px 16px 8px;
}

.portfolio>li>p {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 500px;
  margin-left: 16px;
}

.portfolio-bottom {
  padding-top: 40px;
}

.foot-section {
  display: flex;
  width: 1440px;
  height: 312px;
  background-color: var(--navy-blue);
}

.logo-level {
  padding-top: 101px;
  padding-left: 156px;
}

.logo-foot {
  color: var(--cloud);
}

.foot-text {
  margin-top: 16px;
  color: var(--cloud);
}

.media {
  width: 208px;
  height: 80px;
  margin-top: 100px;
  margin-left: 120px;
}

.media>h4 {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 500px;
  padding-bottom: 16px;


}